@page
@model SmarterBooks.Pages.Books.CreateModel
@{
	ViewData["Title"] = "Create";
} 

<h2 class="text-primary">Create New Book</h2>		   

<div class="border-2 border container" style="padding: 30px;">
	<form method="post">	
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		
		<div class="mb-3 row">
			<div class="col-3">					
				<label asp-for="Books.Name"></label>
			</div>
			<div class="col-6">		
				<input asp-for="Books.Name" class="form-control" />
			</div> 	

			<span class="text-danger" asp-validation-for="Books.Name"></span>
		</div>	
		
		<div class="mb-3 row">
			<div class="col-3">
				<label asp-for="Books.Author"></label>
			</div>
			<div class="col-6">		
				<input asp-for="Books.Author" class="form-control" />
			</div> 
	
			<span class="text-danger" asp-validation-for="Books.Author"></span>
		</div>
		
		<div class="mb-3 row">
			<div class="col-3">
				<label asp-for="Books.ISBN"></label>
			</div>
			<div class="col-6">		
				<input asp-for="Books.ISBN" class="form-control" />
			</div> 
	
			<span class="text-danger" asp-validation-for="Books.ISBN"></span>
		</div>
		
		<div class="mb-3 row">
			<div class="col-3 offset-3">
				<input type="submit" value="Add" class="btn btn-success form-control" />
			</div>	  
			<div class="col-3">
				<a asp-page="/Index" class="btn btn-warning form-control">Back</a>
			</div>
		</div>
	</form>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}